*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: black;
}

.page1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #000;
    color: whitesmoke;
}
.page2{
   
    width: 100%;
    display: flex;
    background: black;
    color: rgb(229, 229, 229);
}
.page2 h1{
    font-size: 20vw;
    font-weight: 700;
 color: black;
    -webkit-text-stroke: 5px rgb(159, 159, 159);;

}
.main {
    display: flex;
    
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;
}
.l{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
button{
    background: #000;
    color: white;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.466);
    border-radius: 10px;
}
.btns{
    gap: 20px;
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#cursor{
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: fixed;
    z-index: 9999;
}
.sidediv{
    width: 20%;
    height: 100vh;
    background: rgb(0, 0, 0);
display: flex;
justify-content: center;
align-items: center;
padding: 20px 20px;
gap: 20px;
color:white;
border-top-left-radius: 30%;
border-bottom-left-radius: 30%;
outline: 2px solid white;
flex-direction: column;
font-size: 30px;
    position:absolute;
    top: 0;
right: 0;
z-index: 9999;

}
.sidediv h2{
    
    margin-bottom: 50px;
}